<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <body ng-app="app">

    <div ng-controller="MembersCtrl" class="container">
      <h1>All Club Members</h1>

      <form role="form">
        <div class="form-group">
            <label for="gender">Gender (m/f)</label><input ng-model="memberGender" id="gender" class="form-control" /> <br>
            <label for="firstname">Given Name</label><input ng-model="memberFirstname" class="form-control" /> <br>
            <label for="lastname">Surname</label><input ng-model="memberLastname"  class="form-control" /> <br>
            <label for="email">Email</label><input ng-model="memberEmail"     class="form-control" /> <br>
            <span class="input-group-btn">
              <button ng-click="addMember()" class="btn btn-default">Add Member</button>
            </span>
        </div>
      </form>

      <ul class="list-group">
        <li ng-repeat="member in members | orderBy:'lastname'" class="list-group-item">
          <strong>{{ member.lastname }}</strong>, {{member.firstname}} ({{member.gender}}, {{member.email}})
        </li>
      </ul>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>